* {
	/* Reset margins and padding */
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	max-width: 750px;
	padding: 2rem;
	border-radius: 6px;

    background-color: #000000;
    color: #fff;
    font-family: "Inter";
    font-size: 1.03rem;
	line-height: 1.5;
}

a {
	color: #3291FF;
}

a:hover {
	color: #0070F3;
}

::selection {
	/* Set background color for selected text */
	background: #7928CA;
	color: #fff;
}

header {
	background: #111111;
	border-bottom: 1px solid #222222;
	padding: 2rem 1.5rem;
	
	/* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

	margin: -2rem calc(0px - (50vw - 50%)) 2rem;
    
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
}

h1,
h2,
h3 {
	color: var(--nc-tx-1);
	padding-bottom: 2px;
	margin-bottom: 8px;
	border-bottom: 1px solid var(--nc-bg-2);
}

h4,
h5,
h6 {
	margin-bottom: .3rem;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.85rem;
}

h3 {
	font-size: 1.55rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: .875rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p#pgp {
	margin-bottom: 1px;
}

pre {
    background: #111111;
    border: 1px solid #222222;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 0.9rem;
}

code {
	border: 2px solid #222222;
    border-radius: 4px;
    font-size: .875rem;
    line-height: 1.3;
	height: 2rem;
	padding: 3px 6px;
	overflow-wrap: break-word;
	background-color: #111111;
	border-color: #222222;
	color: #fff;
}

code, pre {
    font-style: monospace;
}

details {
	/* Make the <details> look more "clickable" */
	padding: .6rem 1rem;
	background: #111111;
	border: 1px solid #222222;
	border-radius: 4px;
	margin-top: 10px;
}

summary {
	/* Makes the <summary> look more like a "clickable" link with the pointer cursor */
	cursor: pointer;
	font-weight: bold;
}

details[open] {
	/* Adjust the <details> padding while open */
	padding-bottom: .75rem;
}

details[open] summary {
	/* Adjust the <details> padding while open */
	margin-bottom: 6px;
}

details[open]>*:last-child {
	/* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
	margin-bottom: 0;
}

table {
	border-collapse: collapse;
	width: 100%
    
}

table caption {
	font-weight: bold;
	margin-bottom: .5rem;
}

td,
th {
	border: 1px solid #333333;
	text-align: left;
	padding: .5rem;
}

th {
	background: #222222;
}